<li>
  ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！
</li>

<li>
  <%= link_to customer_show_path, class:'nav-link text-right' do %>
    マイページ
  <% end %>
</li>
<li>
  <%= link_to item_path, class:'nav-link text-right' do %>
    商品一覧
  <% end %>
</li>
<li>
  <%= link_to cart_items_path, class:'nav-link text-right' do %>
    カート
  <% end %>
</li>
<li>
  <%= link_to destroy_customer_session_path, method: :delete, class:'nav-link text-right' do %>
    ログアウト
  <% end %>
</li>
