<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
    <%= render 'public/shared/genre_search', genres: @genres %>
    </div>
    <div class="col-lg-7">
      <div style="background-image: url(<%= asset_path('top.jpg') %>); height: 250px; background-size: cover; background-position: center;">
        <div class="top-visual" style="padding-top: 60px; padding-left: 120px;">
          <p class="top-visual-text" style="color: ">ようこそ、ながのCAKEへ！</br>
             このサイトは、ケーキ販売のECサイトになります。</br>
             会員でない方も商品の閲覧はできますが、</br>
             購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
      <h2>新着商品</h2>
      <% @items.first(4).each do |item| %>
        <%= link_to item_show_path(item.id) do %>
          <%= image_tag item.image, size:"150x100" %>
        <% end %></br>
        <%= link_to item_show_path(item.id) do %>
          <%= item.name %>
        <% end %></br>
        ￥<%= item.tax_price.to_s(:delimited) %>
      <% end %>
      <%= link_to "全ての商品をみる>", item_path %>
    </div>
  </div>
</div>