<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1">
      <h5 class="p-3"><span style="background-color:#dcdcdc;">　<%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集　</span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <table class="table table-borderless">
        <tbody>
          <%= form_with model: @customer, url: admin_customers_update_path, method: :patch do |f| %>
            <tr>
              <td td class="col-lg-2">会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">氏名</td>
              <td style="padding-top: 0px">
                <span style="margin-right: 30px;"><%= f.text_field :last_name %></span>
                <%= f.text_field :first_name %>
              </td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">フリガナ</td>
              <td style="padding-top: 0px">
                <span style="margin-right: 30px;"><%= f.text_field :last_name_kana %></span>
                <%= f.text_field :first_name_kana %>
              </td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">郵便番号</td>
              <td style="padding-top: 0px"><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">住所</td>
              <td style="padding-top: 0px"><%= f.text_field :address, :size=>"80" %></td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">電話番号</td>
              <td style="padding-top: 0px"><%= f.text_field :telephone_number %></td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">メールアドレス</td>
              <td style="padding-top: 0px"><%= f.email_field :email %></td>
            </tr>
            <tr>
              <td class="col-lg-2" style="padding-top: 0px">会員ステータス</td>
              <td style="padding-top: 0px;">
                <span style="margin-right: 10px;"><%= f.radio_button :is_deleted, false %><%= f.label :sale_status_false, "有効" %></span>
                <%= f.radio_button :is_deleted, true %><%= f.label :sale_status_true, "退会" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>