<h4>配送先編集</h4>

<%= form_with model: @delivery, url: deliveries_update_path, method: :patch do |f| %>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code %></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
      <td></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
      <td>
        <%= button_tag(type: "submit", class: "btn btn-success") do %>
          変更内容を保存
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>