<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1">
      <h5 class="p-3"><span style="background-color:#dcdcdc;">　ジャンル一覧・追加　</span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9" style="padding: 10px;">
      <table class="table table-borderless">
        <tbody>
          <%= form_with model: @genre, url: admin_genres_create_path, method: :post do |f| %>
            <tr>
              <td class="col-lg-2 font-weight-bold">ジャンル名</td>
              <td style="width: 30px;"><%= f.text_field :name, placeholder:"ジャンル名" %></td>
              <td><%= f.submit "　新規登録　", class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <table class="table border-bottom">
        <thead class="thead-light">
          <tr>
            <th class="col-lg-3 text-center">ジャンル</th>
            <th class="col-lg-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr class="px-0">
              <td style="vertical-align: middle; padding: 10px;"><%= genre.name %></td>
              <td class="d-flex justify-content-center" style="padding: 10px;">
                <%= link_to "　編集する　", admin_genres_edit_path(genre.id), class: 'btn btn-success' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>