<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1">
      <h5 class="p-3"><span style="background-color:#dcdcdc;">　注文履歴一覧　</span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1" style="margin-left: 110px;">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="col-lg-1">購入日時</th>
            <th class="col-lg-1">購入者</th>
            <th class="col-lg-1">注文個数</th>
            <th class="col-lg-1">注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_orders_show_path(order.id) do %>
                  <%= localize order.created_at %>
                <% end %>
              </td>
              <td>
                <%= order.customer.last_name %><%= order.customer.first_name %>
              </td>
              <td>
                <%= order.get_amount(order) %>
              </td>
              <td>
                <%= order.order_status_i18n %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <%= paginate @orders %>
  </div>
</div>
