<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1" style="display: flex; margin-left: px;">
      <li class="p-3" style="list-style: none;"><h5><span style="background-color:#dcdcdc;">　ショッピングカート　</span></h5></li>
      <li class="p-3" style="list-style: none; margin-left: 40px;"><%= link_to " カートを空にする ", cart_items_destroy_all_path, class: "btn btn-danger", method: :delete %></li>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8" style="padding: 10px;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-active col-lg-1 border border-dark" style="font-weight: normal;">商品名</th>
            <th class="table-active col-lg-4 border border-dark" style="font-weight: normal;">単価(税込)</th>
            <th class="table-active col-lg-2 border border-dark" style="font-weight: normal;">数量</th>
            <th class="table-active col-lg-2 border border-dark" style="font-weight: normal;">小計</th>
            <th class="table-active col-lg-3 border border-dark"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size:'150x100' %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.tax_price.to_s(:delimited, delimter: ',') %>
              </td>
              <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                  <%= f.select :amount, *[1..10] %>
                  <%= button_tag(type: "submit", class: "btn btn-success") do %>
                    変更
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= cart_item.subtotal.to_s(:delimited, delimter: ',') %>
              </td>
              <td>
                <%= link_to "Destroy", cart_item_path(cart_item.id), method: :delete %>
              </td>
            </tr>
            <% @sum += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
      </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
    <div>
      <%= link_to root_path do %>
       買い物を続ける
      <% end %>
    </div>
    <div>
     <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>合計金額</td>
            <td><%= @sum %></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
  <div class="mx-auto">
    <%= link_to order_new_path do %>
      情報入力に進む
    <% end %>
  </div>
</div>