<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1">
      <h5 class="p-3"><span style="background-color:#dcdcdc;">　注文情報入力　</span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11" style="padding-left: 70px;">
      <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
        <span class="font-weight-bold" style="font-size:22px;">支払方法</span>
        <div class="form-group" style="padding-left: 50px; padding-top: 5px; margin-bottom: 0px;">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %></br>

          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
        </div>
        <span class="font-weight-bold" style="font-size:22px;">お届け先</span>
        <div style="padding-left: 50px; padding-top: 5px; margin-bottom: 0px;">
          <%= f.radio_button :select_address, 0 %><span>ご自身の住所</span></br>
          <span style="margin-left: 20px;">〒<%= current_customer.postal_code %><%= current_customer.address %></span></br>
          <span style="margin-left: 20px;"><%= current_customer.last_name %><%= current_customer.first_name %></span>
        </div>
        <div style="padding-left: 50px; padding-top: 10px; margin-bottom: 0px;">
          <%= f.radio_button :select_address, 1 %><span>登録済住所から選択</span></br>
          <span style="margin-left: 20px; margin-top: 0px; width: 295px;"><%= f.select :deliveries_id, options_from_collection_for_select(current_customer.deliveries, :id, :deliveries_display) %></span>
        </div>
        <div style="padding-left: 50px; padding-top: 10px; margin-bottom: 0px;">
          <%= f.radio_button :select_address, 2 %><span>新しいお届け先</span></br>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="col-lg-3" style="margin-left: 20px; padding-bottom: 0px;">郵便番号(ハイフンなし)</td>
                <td style="padding-bottom: 0px; padding-left: 0px;"><%= f.text_field :postal_code, placeholder:"0000000", size: 20  %></td>
              </tr>
              <tr>
                <td class="col-lg-3" style="margin-left: 20px; padding-bottom: 0px;">住所</td>
                <td style="padding-bottom: 0px; padding-left: 0px;"><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", size: 60 %></td>
              </tr>
              <tr>
                <td class="col-lg-3" style="margin-left: 20px; padding-bottom: 0px;">宛名</td>
                <td style="padding-bottom: 0px; padding-left: 0px;"><%= f.text_field :name, placeholder:"令和道子", size: 20 %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group center-block" style="text-align:center;">
          <%= f.submit "　確認画面へ進む　", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>