<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1">
      <h5 class="p-3"><span style="background-color:#dcdcdc;">　注文履歴詳細　</span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7" style="padding-top: 10px; padding-left: 20px;">
      <span class="font-weight-bold" style="font-size:17px;">注文情報</span>
      <table class="table table-bordered" style="margin-top: 10px;">
        <tbody>
          <tr>
            <td class="col-lg-2 table-active border border-dark align-middle" style="padding-left: 5px;">注文日</td>
            <td class="border border-dark align-middle" style="padding-left: 5px;"><%= localize @order.created_at, format: :short %></td>
          </tr>
          <tr>
            <td class="table-active border border-dark align-middle" style="padding-left: 5px;">配送先</td>
            <td class="border border-dark align-middle" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
                〒<%= @order.postal_code %></br>
                <%= @order.address %></br>
                <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class="table-active border border-dark align-middle" style="padding-left: 5px;">支払方法</td>
            <td class="border border-dark align-middle" style="padding-left: 5px;"><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td class="table-active border border-dark align-middle" style="padding-left: 5px;">ステータス</td>
            <td class="border border-dark align-middle" style="padding-left: 5px;"><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3" style="padding: 10px;">
      <span class="font-weight-bold" style="font-size:17px;">請求情報</span>
      <table class="table table-bordered" style="margin-top: 10px;">
        <tbody>
          <tr>
            <td width="150px" class="table-active border border-dark align-middle" style="padding-left: 5px;">商品合計</td>
            <td class="border border-dark align-middle" style="padding-left: 5px;">
              <% @sum =  @order.invoice_amount - @order.postage %>
              <%= @sum.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <td class="table-active border border-dark align-middle" style="padding-left: 5px;">配送料</td>
            <td class="border border-dark align-middle" style="padding-left: 5px;"><%= @order.postage %></td>
          </tr>
          <tr>
            <td class="font-weight-bold table-active border border-dark align-middle" style="padding-left: 5px;">ご請求額</td>
            <td class="border border-dark align-middle" style="padding-left: 5px;"><%= @order.invoice_amount.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8" style="padding: 10px; padding-left: 20px;">
      <span class="font-weight-bold" style="font-size:17px;">注文内容</span>
      <table class="table table-bordered" style="margin-top: 10px;">
        <thead>
          <tr>
            <th class="table-active col-lg-6 border border-dark" style="font-weight: normal; padding-left: 5px;">商品</th>
            <th class="table-active col-lg-2 border border-dark" style="font-weight: normal; padding-left: 5px;">単価 (税込)</th>
            <th class="table-active col-lg-1 border border-dark" style="font-weight: normal; padding-left: 5px;">個数</th>
            <th class="table-active col-lg-1 border border-dark" style="font-weight: normal; padding-left: 5px;">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td class="border border-dark align-middle" style="font-weight: normal; padding-left: 5px;">
              <%= order_detail.item.name %>
            </td>
            <td class="border border-dark align-middle" style="font-weight: normal; padding-left: 5px;">
              <%= order_detail.item.tax_price.to_s(:delimited) %>
            </td>
            <td class="border border-dark align-middle" style="font-weight: normal; padding-left: 5px;">
              <%= order_detail.amount %>
            </td>
            <td class="border border-dark align-middle" style="font-weight: normal; padding-left: 5px;">
              <%= order_detail.subtotal %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>