  <%= link_to admin_item_path, class:'text-right' do %>
    <button type="button" class="btn btn-outline-secondary">商品一覧</button>
  <% end %>

  <%= link_to admin_customers_path, class:'text-right' do %>
    <button type="button" class="btn btn-outline-secondary">会員一覧</button>
  <% end %>

  <%= link_to admin_home_path, class:'text-right' do %>
    <button type="button" class="btn btn-outline-secondary">注文履歴一覧</button>
  <% end %>

  <%= link_to admin_genres_path, class:'text-right' do %>
    <button type="button" class="btn btn-outline-secondary">ジャンル一覧</button>
  <% end %>

  <%= link_to destroy_admin_session_path, method: :delete, class:'text-right' do %>
    <button type="button" class="btn btn-outline-secondary">ログアウト</button>
  <% end %>