<li class="d-flex justify-content-end">
  <%= link_to "商品一覧", admin_item_path, class: "btn btn-outline-secondary m-3" %>
  <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary m-3" %>
  <%= link_to "注文履歴一覧", admin_home_path, class: "btn btn-outline-secondary m-3" %>
  <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary m-3" %>
  <%= link_to "ログアウト", destroy_admin_session_path, class: "btn btn-outline-secondary m-3", method: :delete %>
</li>
<li class="input-group d-flex justify-content-end m-3">
  <%= form_with url: admin_search_path, method: :get, loccal: true do |f| %>
    <%= f.text_field :word %>
    <%= f.submit "Search" %>
    <!-- <i class="fal fa-search fa-rotate-90"></i> -->
  <% end %>
</li>