<nav>
  <div class="container">
    <a class="navbar-brand">LOGO</a>
      <% if user_signed_in? %>
        <div class="navbar-nav ml-auto" id="navbarNavDropdown">
          <%= link_to user_path(current_user.id), class:'nav-link' do %>
            商品一覧
          <% end %>

          <%= link_to users_path, class:'nav-link text-light' do %>
            会員一覧
          <% end %>

          <%= link_to books_path, class:'nav-link text-light' do %>
            注文履歴一覧
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-light' do %>
            ログアウト
          <% end %>
        <% else %>
          <%= link_to root_path, class:'nav-link text-light' do %>
            About
          <% end %>

          <%= link_to about_path, class:'nav-link text-light' do %>
            商品一覧
          <% end %>

          <%= link_to new_user_registration_path, class:'nav-link text-light' do %>
            新規登録
          <% end %>

          <%= link_to new_user_session_path, class:'nav-link text-light' do %>
            ログイン
          <% end %>
        <% end %>
       </div>
  </div>
</nav>