<div class="container">
  <div class="row">
    <div class="col-lg-3" style="padding-left: 70px;">
      <%= render 'public/shared/genre_search', genres: @genres %>
    </div>
    <div class="col-lg-9">
      <h2>商品一覧<span style="font-size:20px"> (全<%= @items.count %>件)</span></h2>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <div style="higthmargin-top: 50px; margin-right: 30px; width: 150px; heigth: 160px;">
            <%= link_to item_show_path(item.id) do %>
              <%= image_tag item.image, size:"150x100" %>
            <% end %><br>
              <%= link_to item_show_path(item.id) do %><%= item.name %><% end %></br>
              ￥<%= item.tax_price.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center p-2" style="margin-top: 30px;">
    <%= paginate @items %>
  </div>
</div>