<%= render 'public/shared/genre_search', genres: @genres %>

<h2>商品一覧</h2><h5>(全<%= @items.count %>件)</h5>

<% @items.each do |item| %>
  <div>
  <%= link_to item_show_path(item.id) do %>
    <%= image_tag item.image, size:"150x100" %>
  <% end %></br>
  商品名　<%= link_to item_show_path(item.id) do %><%= item.name %><% end %></br>
  ￥<%= item.tax_price.to_s(:delimited) %>
  </div>
<% end %>
<%= paginate @items %>

