<!DOCTYPE html>
<html>
  <head>
    <title>ながのCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <div class="container">
        <nav class="nav navbar-nav navbar-left justify-content-end">
          <%= link_to image_tag("ロゴ.jpg", size: '150x120'), root_path %>
        </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right ml-auto">
              <% if customer_signed_in? %>
                <li><%= render 'public/shared/after_sign_in_public' %></li>
              <% elsif admin_signed_in? %>
                <li><%= render 'admin/shared/after_sign_in_admin' %></li>
              <% else %>
                <li><%= render 'admin/shared/before_sign_in' %></li>
              <% end %>
            </ul>
          </nav>
      </div>
    </header>

    <main>
      <div class="container" style="margin-top: 20px;">
        <%= yield %>
      </div>
    </main>

    <footer>
       <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight © 2023 NAGANOCake Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
